
Running tests... 
----------------------------------------------------------------------
 test_reto_final_caso_arbitrario1 (pruebas.tests_casos_aprobatorios.TestCasosAprobatorios) ... OK (38.156513)s
 test_reto_final_caso_arbitrario2 (pruebas.tests_casos_aprobatorios.TestCasosAprobatorios) ... ERROR (14.602316)s
 test_reto_final_caso_arbitrario3 (pruebas.tests_casos_aprobatorios.TestCasosAprobatorios) ... OK (10.354000)s
 test_reto_final_caso_arbitrario4 (pruebas.tests_casos_aprobatorios.TestCasosAprobatorios) ... OK (10.575208)s
 test_reto_final_caso_arbitrario5 (pruebas.tests_casos_aprobatorios.TestCasosAprobatorios) ... OK (11.579393)s

======================================================================
ERROR [14.602316s]: pruebas.tests_casos_aprobatorios.TestCasosAprobatorios.test_reto_final_caso_arbitrario2
----------------------------------------------------------------------
Traceback (most recent call last):
  File "D:\OneDrive - CANVIA\Capacitaciones\Python\repositorio_final\prueba_final\pruebas\tests_casos_aprobatorios.py", line 98, in test_reto_final_caso_arbitrario2
    submit_button.click()
  File "D:\OneDrive - CANVIA\Capacitaciones\Python\repositorio_final\prueba_final\venv\lib\site-packages\selenium\webdriver\remote\webelement.py", line 80, in click
    self._execute(Command.CLICK_ELEMENT)
  File "D:\OneDrive - CANVIA\Capacitaciones\Python\repositorio_final\prueba_final\venv\lib\site-packages\selenium\webdriver\remote\webelement.py", line 633, in _execute
    return self._parent.execute(command, params)
  File "D:\OneDrive - CANVIA\Capacitaciones\Python\repositorio_final\prueba_final\venv\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 321, in execute
    self.error_handler.check_response(response)
  File "D:\OneDrive - CANVIA\Capacitaciones\Python\repositorio_final\prueba_final\venv\lib\site-packages\selenium\webdriver\remote\errorhandler.py", line 242, in check_response
    raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.ElementClickInterceptedException: Message: element click intercepted: Element <button id="submit" type="button" class="btn btn-primary">...</button> is not clickable at point (906, 636). Other element would receive the click: <footer>...</footer>
  (Session info: chrome=91.0.4472.77)


----------------------------------------------------------------------
Ran 5 tests in 0:01:25

FAILED
 (Errors=1)

Generating HTML reports... 
reports\TestResults_pruebas.tests_casos_aprobatorios.TestCasosAprobatorios_2021-05-31_10-18-09.html
